services:
  - type: web
    name: telegram-bot
    env: python
    buildCommand: pip install -r requirements_render.txt
    startCommand: python bot_render.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_ID
        sync: false
